<%- include('inc/head', {title:'phase2'}) %>
    <%- include('inc/sidebar',{title:'phase2', date}) %>
        <%- include('inc/nav',{date:new Date}) %>

            <div class="content">
                <div class="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-h2">
                                <div class="card-header">
                                    <h5 class="card-title">빌딩 정보 수정</h5>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>빌딩 이름 수정</label>
                                                    <input type="text" class="form-control"  name="b_name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <label>빌딩 타입 수정</label>
                                                        <select class="form-control" name="buildingtype"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card  card-h2">
                                <div class="card-header">
                                    <h5 class="card-title">공용도어 정보 입력</h5>
                                </div>
                                <div class="card-body">
                                    <div class="table-full-width">
                                            <table class="table" id="noDoorList" style="display: none;"> 
                                                    <tr>
                                                        <td>
                                                            <div class="con_default">
                                                                <i class="icon m_issuekey"></i>
                                                                <h4 class="text-center text-info">
                                                                    ‘등록된 공용 도어가 없습니다 ’<br>
                                                                    <span>도어락 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                                </h4>
                                                            </div>                                                                 
                                                        </td>
                                                    </tr>
                                            </table>

                                           <table class="table" id="readDoorList" style="display: none;"> 
                                            <colgroup>
                                                <col width="10%">
                                                <col width="*">
                                                <col width="25%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th colspan="2">
                                                        <div class="form-check">
                                                            <label class="form-check-label" style="line-height: 20px;">
                                                                            <input class="form-check-input" type="checkbox" value="">
                                                                            <span class="form-check-sign"></span>                                                                            
                                                                        </label>
                                                            <span>1 selected</span>
                                                            <button type="button" title="삭제하기" id="delTrash" class="btn btn-simple btn-link" onClick="fn_delRow('chkObject');">
                                                                    <i class="icon trash"></i>
                                                            </button>
                                                        </div>
                                                    </th>
                                                    <th class="text-right">total: <strong class="text-primary" id="doorCnt"></strong></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="state form-inline">
                                        <input type="text" class="form-control" id="readDoorName"  placeholder="공용도어 이름 입력" onkeyup="chkword(this,100);">
                                        <a role="button" class="btn btn-primary" id="btnDoorName">공용도어 추가</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="reset" class="btn btn-default btn-fill shadow pull-left" onclick="location='javascript:history.back()'">뒤로가기</button>
                            <button type="button" id="btnEditBuilding" class="btn btn-primary  btn-fill pull-right shadow">빌딩 정보 수정</button>
                        </div>
                    </div>
                </div>
            </div>

            <%- include inc/footer %>
                <%- include inc/modal %>
                    <%- include inc/bottom %>

                        <script>
                            //navTitle 쿼리 
                            var name;
                            var address;
                            var itemQuery;
                            qs();
                            $('.nav .query_building').attr('href', '/properties/<%= id %>/building' + itemQuery);
                            $('.nav .query_doorlock').attr('href', '/properties/<%= id %>/doorlock' + itemQuery);
                            $('.nav .query_issuekey').attr('href', '/properties/<%= id %>/issuekey' + itemQuery);
                            $('.nav .query_staff').attr('href', '/properties/<%= id %>/staff' + itemQuery);
                            $('.nav .query_report').attr('href', '/properties/<%= id %>/report' + itemQuery);
                            navTitle(name, address);



                            var API_KEY = localStorage.getItem('api_key');
                            var id = "<%= id %>";
                            var bid = "<%= bid %>";
                            var url = "properties/" + id + "/buildings/" + bid;


                            // 빌딩타입 불러오기    
                            var url2 = "properties/" + id + "/buildingtypes"
                            $.ajax({
                                    method: "get",
                                    url: endUrl(url2),
                                    contentType: "application/json; charset=utf-8",
                                    headers: headers(),
                                    data: {                                        
                                        language_code: "ko"
                                    }
                                })
                                .done(function(res) {
                                    console.log(res);
                                    $('select[name="buildingtype"]').empty();
                                    $('select[name="buildingtype"]').append('<option  value="0" value="0" selected="true">빌딩 타입 선택</option>');
                                    $('select[name="buildingtype"]').prop('selectedIndex', 0);
                                    for(var i=0; i<res.items.length; i++){
                                        $('select[name="buildingtype"]').append($('<option></option>').attr('value', res.items[i].id).text(res.items[i].name)); 
                                    }
                                })
                                .fail(function(request, status, error) {
                                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                                    console.log(msg);
                                    alert("빌딩타입을 불러 올 수 없습니다.");
                                })

                            //빌딩상세 api
                            $.ajax({
                                    method: "get",
                                    url: endUrl(url),
                                    contentType: "application/json; charset=utf-8",
                                    headers: headers()
                                })
                                .done(function(res) {
                                    console.log(res);
                                    $('[name="b_name"]').val(res.name);
                                    $('[name="buildingtype"').text(res.buildingtype);
                                    
                                    //공용도어 불러오기
                                    for (var i in res.commonrooms) {
                                        var id = res.commonrooms[i].id;
                                        var name = res.commonrooms[i].name;
                                        var rowItem = '<tr><td scope="col"><div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" name="chkObject" value=""><span class="form-check-sign"></span></label></div></td>';
                                        rowItem += '<td class="commonDoor">'+ name + '</td><td class="td-actions text-right">';
                                        rowItem += '<button type="button" rel="tooltip" title="수정하기"  data-toggle="modal" data-common_id="' + id + '" name ="editName" class="btn btn-info btn-simple btn-link "><i class="fa fa-edit"></i></button></td></tr>';
                                        $('#readDoorList tbody').append(rowItem);
                                    }
                                     // 테이블에 tr행 개수 
                                    var doorCnt = $('#readDoorList tbody tr').length;
                                    if(doorCnt > 0){
                                        $('#doorCnt').text(doorCnt);
                                        $('#noDoorList').hide(); 
                                        $('#readDoorList').show(); 
                                    }else if(doorCnt == 0){
                                        $('#noDoorList').show(); 
                                        $('#readDoorList').hide(); 
                                    }
                                })
                                .fail(function(request, status, error) {
                                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                                    console.log(msg);
                                    alert("빌딩내용을 불러 올 수 없습니다.");
                                })

                            //빌딩수정하기 api
                            $('#btnEditBuilding').on('click', function() {
                                var name = $('input[name="name"]').val();
                                var buildingtype_id = $('select[name="buildingtype"] option:selected').val();
                                if (name == "") {
                                    alert("빌딩이름을 입력해 주세요");
                                } else if (buildingtype_id == "0") {
                                    alert("빌딩타입을 선택해 주세요");
                                }
                                //입력박스 체크 뒤 api 호출 
                                var params = {};
                                if (!(name == "")) {
                                    params.name = name;
                                }
                                if (!(buildingtype_id == "0")) {
                                    params.buildingtype_id = buildingtype_id;
                                }
                                console.log(JSON.stringify(params));
                                $.ajax({
                                        url: endUrl(url),
                                        contentType: "application/json; charset=utf-8",
                                        type: 'put',
                                        headers: headers(),
                                        data: JSON.stringify(params)
                                    })
                                    .done(function(res) {
                                        console.log(res);
                                        $('#editBuuildingDone').modal('show');
                                        location.href = '/properties/' + id + '/building' + itemQuery;
                                    })
                                    .fail(function(jqXHR, textStatus, errorThrown) {
                                        console.log('Error: ' + textStatus + ' - ' + errorThrown);
                                    })

                            });

    //공용도어 추가  
    var commonrooms =[]; //공용도어 배열
    $('#btnDoorName').on('click', function(){
        var url="properties/"+ id + "/commonrooms";          
        commonrooms =  commonArray(); 
        var doorname =$('#readDoorName').val();

        if(doorname !== ""){ 
            if(commonrooms.length > 0){
                for(var i=0; i< commonrooms.length;i++){
                    if(doorname == commonrooms[i]){
                        alert("동일한 이름의 공용도어가 존재합니다. 다른 이름을 입력해 주세요");                   
                        $('#readDoorName').val('');                        
                        return false;
                    }
                }
            }
            $.ajax({
                    url : endUrl(url),
                    method:'post',
                    contentType: "application/json; charset=utf-8",        
                    headers : headers(),
                    data :JSON.stringify({
                        name : doorname,
                        building_id : bid
                    })
                })
                .done(function(res) {  
                    console.log(res);                    
                    addDoorTr(res.name, res.id);               
                    $('#doorCnt').text(doorCnt + 1); 
                    $("#newDoorDone").modal('show');  
                    $('#noDoorList').hide();  
                    $('#readDoorList').show();
                })
                .fail(function (request, status, error){  
                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                    console.log(msg);                           
                })

        }else{
            alert("공용도어의 이름을 입력해 주세요");
        }
    });
    

//commondoor 이름 읽기
function commonArray(){           
        var commonrooms = $("#readDoorList > tbody").find('tr').map(function(){      
            return $(this).find('.commonDoor').text();
            }).get();
        return commonrooms;
    }
//공용도어 tr 동적추가
function addDoorTr(doorname, id){
    var rowItem = '<tr><td scope="col"><div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" name="chkObject" value=""><span class="form-check-sign"></span></label></div></td>';
    rowItem += '<td class="commonDoor">'+ doorname + '</td><td class="td-actions text-right">';
    rowItem += '<button type="button" rel="tooltip" title="수정하기" data-toggle="modal" data-doorname="'+ doorname+'" data-common_id="'+ id +'" data-target="#EditName" name ="editName" class="btn btn-info btn-simple btn-link"><i class="fa fa-edit"></i></button></td></tr>';
    $('#readDoorList tbody').append(rowItem);
    $('#readDoorName').val(''); 
    commonrooms =  commonArray();
}


    // 공용도어락 삭제
    function fn_delRow(chkObjNm) {  
        var commonId= $('[name=editName]').data('common_id');     
        console.log(commonId);      
        var url= 'properties/' + id + '/commonrooms/' + commonId;
        if ($("input[name="+chkObjNm+"]").is(":checked")){ 
            if (confirm("삭제 하시겠습니까?")) { 
                for(var i=$("[name='"+chkObjNm+"']:checked").length-1; i>-1; i--){ 
                    $("[name='"+chkObjNm+"']:checked").eq(i).closest("tr").remove();                   
                } 

                $.ajax({
                    url: endUrl(url),
                    method:'delete',
                    contentType: "application/json; charset=utf-8",                   
                    headers : headers()
                })
                .done(function(res) {                
                    console.log(res); 
                    // location.reload();
                    // if(res.code == 200){
                    //     $('#Delproperty').modal('show', function(e) { 
                    //         var name = $(e.relatedTarget).data('property_name');
                    //         $(this).$('h6').text(name);         
                    //     });                        
                    // }else{
                    //     alert("삭제 실패");
                    // }
                    
                })
                .fail(function (request, status, error){  
                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                    console.log(msg);                           
                })            
            } 
        } else { 
            alert("선택된 데이터가 없습니다.");  
        }       
    }


</script>