
<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>


        <div class="content">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                            <%- include('inc/search') %><!-- 검색 -->                

                            <h4>
                                <div class="row">
                                    <div class="col-md-3">                                       
                                        <select class="form-control" name="buildingtype"></select>                                       
                                    </div>              
                                    <div class="col-md-3">                                       
                                            <select class="form-control">
                                                <option>도어타입 선택</option>
                                                <option>전체</option>
                                                <option>객실</option>
                                                <option>공용도어</option>
                                            <select>                                             
                                    </div>
                                    <button class="btn btn-primary btn-fill">검색</button>                                                                                                
                                </div>  
                            </h4>
                            <div class="card">                                   
                                    <div class="content table-responsive  table-full-width">
                                        <table class="table table-hover">
                                            <colgroup>
                                                <col width="30%">
                                                <col width="*">
                                                <col width="20%">
                                                <col width="20%">
                                                <col width="15%">
                                            </colgroup>
                                            <thead>
                                                <th>빌딩이름</th>
                                                <th>도어타입</th>
                                                <th>설치상태</th>
                                                <th>설치일</th>                                              
                                                <th>정렬: 이름순/설치 상태</th>
                                            </thead>
                                            <tbody>
                                                <tr>    
                                                    <td>Residence A</td>
                                                    <td>Room Door</td>
                                                    <td>설치/미설치</td>                                         
                                                    <td>DD-MM-YYYY  HH:MM</td>
                                                    <td></td>
                                                </tr>                                               
                                            </tbody>
                                            <tbody>
                                                    <tr>
                                                        <td colspan="5">
                                                            <div class="con_default">
                                                                <i class="icon m_issuekey"></i>
                                                                <h4 class="text-center text-info">
                                                                    ‘ 도어락 정보가 없습니다. ’
                                                                </h4>
                                                            </div>
                                                        </td>                                                                      
                                                    </tr>                                                                        
                                                </tbody>
                                        </table>        
                                    </div>
                            </div>

                            <button class="btn btn-default btn-fill shadow " onclick="location='javascript:history.back()'">나가기</button>
                            
                           
                    </div>
                </div>
            </div>
        </div>

<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

<script>
var API_KEY = localStorage.getItem('api_key');   
    var id = "<%= id %>";
    var url = "properties/" + id + "/buildings";
    console.log('id', id);

    // 빌딩타입 불러오기    
    var url2 ="properties/" + id + "/buildingtypes"   
    $.ajax({
        method: "get",
        url : endUrl(url2),
        contentType: "application/json; charset=utf-8",
        headers : headers(),
        data:{
            property_id : id,
            language_code : "ko"
        }
    })                                                                               
    .done(function(res) {                         
        console.log(res);        
        $('select[name="buildingtype"]').empty();
        $('select[name="buildingtype"]').append('<option  value="0" value="0" selected="true">빌딩 타입 선택</option>');
        $('select[name="buildingtype"]').prop('selectedIndex', 0); 
        for(var i of res.items){
            $('select[name="buildingtype"]').append($('<option></option>').attr('value', i.id).text(i.name)); 
        }                                                        
    })
    .fail(function (request, status, error){  
        msg = request.status + "<br>" + request.responseText + "<br>" + error;
        console.log(msg); 
        alert("빌딩타입을 불러 올 수 없습니다.");                          
    }) 
</script>