<%- include('inc/head') %>
    <%- include('inc/sidebar') %>
        <%- include('inc/nav') %>

            <div class="content">
                <div class="">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="card card-h2">
                                <div class="card-header">
                                    <h5 class="card-title">게스트 키발급 선택</h5>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row form-group">
                                                    <div class="col-md-12 pr-1">
                                                        <label>단지 타입 선택</label>
                                                        <select class="form-control" name="buildingNames"></select>    
                                                    </div>
                                                    <div class="col-md-12 pl-1">
                                                        <select class="form-control" name="roomNames"><option>객실 선택</option></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row form-group">
                                                    <div class="col-md-12 pr-1">
                                                        <label>게스트 정보 입력</label>
                                                        <input class="form-control" type="text" placeholder="게스트 이름 입력">
                                                    </div>
                                                    <div class="col-md-12 pr-1 pl-1">
                                                        <!-- 국가번호 -->
                                                        <select class="form-control" id="CountryCode" name="country_code"></select>
                                                    </div>
                                                    <div class="col-md-12 pl-1">
                                                        <input 
                                                        class="form-control" id="phone-number-check" name="phone"
                                                        placeholder="전화번호 입력 (숫자만 입력해 주세요)" maxlength="13" type="text" numberOnly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card  card-h2" role="tabpanel">
                                <div class="card-header">
                                    <h5 class="card-title">
                                        <ul class="nav nav-tabs  nav-justified" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#mobileKey" aria-controls="mobileKey" role="tab" data-toggle="tab">모바일키 발급</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#pincode" aria-controls="pincode" role="tab" data-toggle="tab">핀코드 발급</a>
                                            </li>
                                        </ul>
                                    </h5>
                                </div>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="mobileKey">
                                        <div class="card-body table-full-width-staffkey">
                                            <div class="row  form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <i class="icon checkin"></i><label>체크인</label>
                                                        <select class="form-control">
                                                            <option>2019-10-01</option>
                                                        </select> 
                                                        </div> 
                                                    <!-- <div class="col-md-6 input-group">
                                                        <i class="icon checkin"></i><label>체크인</label>
                                                        <input type="text" class="form-control">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                        <select class="form-control">
                                                                        <option>2019-10-01</option>                                                                       
                                                        </select>
                                                    </div> -->
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <i class="icon checkin txt_hidden"></i><label class="txt_hidden">시간 선택</label>
                                                                <select class="form-control">
                                                                    <option>13시</option>                                                                   
                                                                </select>
                                                            </div> 
                                                            <div class="col-md-6">
                                                                <i class="icon checkin txt_hidden"></i><label class="txt_hidden">분 선택</label>                                                                                                                             
                                                                <select class="form-control">
                                                                    <option>10분</option>                                                                                                                                                
                                                                </select>
                                                            </div>  
                                                        </div>                                                               
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <i class="icon checkout"></i><label>체크아웃</label>
                                                        <select class="form-control">
                                                            <option>2019-10-01</option>                                                                      
                                                        </select> 
                                                    </div> 
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <i class="icon checkin txt_hidden"></i><label class="txt_hidden">시간 선택</label>                                                                                                                             
                                                                <select class="form-control">
                                                                    <option>13시</option>                                                                   
                                                                </select>
                                                            </div> 
                                                            <div class="col-md-6">
                                                                <i class="icon checkin txt_hidden"></i><label class="txt_hidden">분 선택</label>                                                                                                                             
                                                                <select class="form-control">
                                                                    <option>10분</option>                                                                                                                                                
                                                                </select>
                                                            </div>  
                                                        </div>  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer" >
                                        <hr>
                                            <div class="state form-group">  
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                    <span>신규 발급하기</span>
                                                </div>                                                
                                                <h4>체크 박스를 선택하면 기존에 사용중인  키는 더이상 사용할 수 없습니다</h4>
                                                <a role="button" data-toggle="modal" data-target="#staffKeyDone" class="btn btn-primary">모바일키 발급</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="pincode">
                                        <div class="card-body table-full-width-staffkey">
                                            <div class="row  form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-12">
                                                        <i class="icon codelist"></i><label>출입코드 종류 선택</label>
                                                        <select class="form-control">
                                                            <option>기간 출입 코드(최대 14일/ 시작 00시~ 종료 00시)</option>                                                                              
                                                        </select> 
                                                    </div>                                                                   
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <i class="icon checkin"></i><label>사용기간</label>
                                                        <select class="form-control">
                                                            <option>시간 날짜 선택</option>
                                                            <option>나라이름2</option>
                                                            <option>나라이름3</option>
                                                        </select> 
                                                    </div> 
                                                    <div class="col-md-6">
                                                        <i class="icon checkin txt_hidden"></i><label class="txt_hidden">시간선택</label>                                                                                                                             
                                                        <select class="form-control">
                                                            <option>종료 날짜 선택</option>
                                                            <option>도시이름</option>
                                                            <option>도시이름</option>
                                                        </select>
                                                    </div> 
                                                </div>
                                            </div>
                                            </div>
                                                <div class="card-footer" >
                                                    <hr>
                                                    <div class="state form-group">  
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="">
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                            <span>신규 발급하기</span>
                                                        </div>                                                
                                                        <h4>체크 박스를 선택하면 기존에 사용중인  키는 더이상 사용할 수 없습니다</h4>
                                                       <a role="button" data-toggle="modal" data-target="#staffKeyDone" class="btn btn-primary">출입코드 발급</a>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>                                           
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-12 text-center">
                                <button type="reset" class="btn btn-default btn-fill shadow pull-left" onclick="location='javascript:history.back()'">나가기</button>
                                <button type="button" data-toggle="modal" data-target="#newstaffDone" class="btn btn-fill btn-primary shadow pull-right">스텝 등록 완료</button>
                            </div>
                   
                </div>
            </div>
        </div>
<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

<script>
 //navTitle 쿼리 

    var name;
    var address;
    var itemQuery;       
    qs();
    $('.nav .query_building').attr('href','/properties/<%= id %>/building'+itemQuery );
    $('.nav .query_doorlock').attr('href','/properties/<%= id %>/doorlock'+itemQuery);
    $('.nav .query_issuekey').attr('href','/properties/<%= id %>/issuekey'+itemQuery);
    $('.nav .query_staff').attr('href','/properties/<%= id %>/staff'+itemQuery);
    $('.nav .query_report').attr('href','/properties/<%= id %>/report'+itemQuery);
    navTitle(name, address);

    phoneNumCheck();
    var countryCode;
    countryCodelogin();//국가코드 선택  
    $('select[name="country_code"]').on("change", function(){ 
          countryCode = $(this).val().replace(/\D/g,'');
    }); 
    
    // 빌딩리스트 불러오기api(staff_list 참고)
    var API_KEY = localStorage.getItem('api_key');   
    var id = "<%= id%>";
    var url = "properties/" + id + "/buildings";
    $.ajax({
        method: "get",
        url : endUrl(url),
        contentType: "application/json; charset=utf-8",
        headers : headers()
    })                                                                               
    .done(function(res) {            
        console.log(res); 
        $('[name=buildingNames]').empty();
        $('[name=buildingNames]').append('<option  value="0" value="0" selected="true">빌딩 선택</option>');
        for(var i=0; i<res.items.length;i++){
            $('[name=buildingNames]').append($('<option></option>').attr('value', res.items[i].id).text(res.items[i].name)); 
        }
    })
    .fail(function (request, status, error){  
        msg = request.status + "<br>" + request.responseText + "<br>" + error;
        console.log(msg); 
        alert("건물 목록을 불러 올 수 없습니다.");                          
    })  


    //해당 객실리스트 api 선택
    $('[name =buildingNames]').on('change',function(){
        var url = "properties/" + id + "/rooms"; 
        var bid = $(this).find(":selected").val();
        $.ajax({
            url : endUrl(url),
            contentType: "application/json; charset=utf-8",
            method : "get",
            headers : headers(),
            data:{               
                building_id : bid
            }
        })
        .done(function(res){
            console.log(res); 
            $('[name=roomNames]').empty();
            $('[name=roomNames]').append('<option  value="0" value="0" selected="true">객실 선택</option>');
            for(var i=0; i<res.items.length;i++){
                $('[name=roomNames]').append($('<option></option>').attr('value', res.items[i].id).text(res.items[i].name)); 
            }  
                               
        })
        .fail(function(){
            msg = request.status + "<br>" + request.responseText + "<br>" + error;
            console.log(msg); 
            alert("객실목록을 불러 올 수 없습니다.");  
        })


    })






    











    // $(function(){
    //     $('.input-group.date').datepicker({
    //         calendarWeeks: false,
    //         todayHighlight: true,
    //         autoclose: true,
    //         format: "yyyy/mm/dd"
    //     });
    // });

</script>