<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="con_default category">
                            <h4 class="text-info">서비스 메뉴선택</h4>
                            <ul>
                                <li><a href="" class="query_building"><i class="icon m_property"></i><small>PROPERTY</small></a></li>
                                <li><a href="" class="query_doorlock"><i class="icon m_doorlock"></i><small>DOORLOCK</small></a></li>
                                <li><a href="" class="query_issuekey"><i class="icon m_issuekey"></i><small>ISSUE KEY</small></a></li>
                                <li><a href="" class="query_staff"><i class="icon m_staff"></i><small>STAFF</small></a></li>
                                <li><a href="" class="query_report"><i class="icon m_report"></i><small>REPORTS</small></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<%- include inc/footer %>
<%- include inc/modal %>
<%- include inc/bottom %>
<script> 
 //navTitle 쿼리 
    var name;
    var address;
    var itemQuery; 
    qs();  
    $('.nav .query_building').attr('href','/properties/<%= id %>/building'+itemQuery );
    $('.nav .query_doorlock').attr('href','/properties/<%= id %>/doorlock'+itemQuery);
    $('.nav .query_issuekey').attr('href','/properties/<%= id %>/issuekey'+itemQuery);
    $('.nav .query_staff').attr('href','/properties/<%= id %>/staff'+itemQuery);
    $('.nav .query_report').attr('href','/properties/<%= id %>/report'+itemQuery);  
    
    $('.category .query_building').attr('href','/properties/<%= id %>/building'+itemQuery );
    $('.category .query_doorlock').attr('href','/properties/<%= id %>/doorlock'+itemQuery);
    $('.category .query_issuekey').attr('href','/properties/<%= id %>/issuekey'+itemQuery);
    $('.category .query_staff').attr('href','/properties/<%= id %>/staff'+itemQuery);
    $('.category .query_report').attr('href','/properties/<%= id %>/report'+itemQuery);
    navTitle(name, address);


    






</script>


