
<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                        <div class="col-md-6">
                                <div class="card card-h2">
                                    <div class="card-header">
                                        <h5 class="card-title">단지정보 보기</h5>
                                    </div> 
                                    <div class="card-body">                                       
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>단지 이름</label>
                                                        <p name="viewName" class="form-control"></p>
                                                    </div>
                                                </div>                                                        
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">                                                           
                                                    <div class="row form-group">
                                                        <div class="col-md-6">
                                                            <label>단지 지역정보</label>
                                                            <p name="viewCountry" class="form-control"></p>  
                                                        </div> 
                                                        <div class="col-md-6 pr-1">
                                                            <label class="txt_hidden">도시선택</label>
                                                            <p name ="viewCity" class="form-control"></p>                                                                     
                                                        </div> 
                                                        <div class="col-md-12 pl-1 pr-1">                                                                        
                                                            <p class="form-control"  name="viewTimeZone"></p>                                                                                                                                                                                            
                                                        </div>
                                                        <div class="col-md-12 pl-1">                                                                        
                                                            <p class="form-control" value="" name="viewAddress"></p>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>                                            
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">공용도어 정보</h5>                                      
                                    </div> 
                                    <div class="card-body">
                                            <div class="table-full-width">
                                                <table class="table" id="noDoorList" style="display: none;"> 
                                                    <tr>
                                                        <td>
                                                            <div class="con_default">
                                                                <i class="icon m_issuekey"></i>
                                                                <h4 class="text-center text-info">
                                                                    ‘등록된 공용 도어가 없습니다 ’<br>
                                                                    <span>도어락 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                                </h4>
                                                            </div>                                                                 
                                                        </td>
                                                    </tr>
                                                </table>

                                                   <table class="table" id="readDoorList">
                                                        <colgroup>
                                                            <col width="10%">
                                                            <col width="*">
                                                            <col width="25%">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>                                                            
                                                                <th class="text-right">total: <strong class="text-primary" id="doorCnt"></strong></th>
                                                            </tr>
                                                        </thead>                                                         
                                                      <tbody></tbody>
                                                    </table>
                                                </div>
                                    </div>
                                    <div class="card-footer" style="height:70px;"></div>
                                </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12 text-center">
                            <button type="reset" class="btn btn-default btn-fill shadow pull-left" onclick="location='javascript:history.back()'">뒤로가기</button>                           
                            <button type="button" onclick="location='/property_edit/<%= id%>'" class="btn btn-fill btn-primary pull-right shadow">단지 수정하기</button>
                        </div>
                
                </div>
            </div>
        </div>
<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>


<script type='text/javascript'>    
    //프라퍼티 상세보기
        $(function(){   
            var API_KEY = localStorage.getItem('api_key'); 
            var url = 'properties/';                  
            var id = "<%= id %>";           
                $.ajax({                   
                    //property 상세보기 api
                    url : endUrl(url)+ id ,
                    method:'get',
                    contentType: "application/json; charset=utf-8",                   
                    headers : headers()
                })
                .done(function(res) { 
                    navTitle(res.name,res.address);    
                    $('[name="viewName"').text(res.name);
                    $('[name="viewCountry"').text(res.country_code);
                    $('[name="viewCity"').text(res.city);
                    $('[name="viewTimeZone"').text(res.timezone);
                    $('[name="viewAddress"').text(res.address);
                    for(var i in res.commonrooms){
                        var id = res.commonrooms[i].id;
                        var name = res.commonrooms[i].name;  
                        var rowItem = '<tr><td>' + name + '</td>tr>';
                        $('#readDoorList tbody').append(rowItem);
                    }
                     // 테이블에 tr행 개수 
                    var doorCnt = $('#readDoorList tbody tr').length;
                    if(doorCnt > 0){
                        $('#doorCnt').text(doorCnt);
                    }else if(doorCnt == 0){
                        $('#noDoorList').show(); 
                        $('#readDoorList').hide(); 
                    }
                })
                .fail(function (request, status, error){  
                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                    console.log(msg);                           
                })   
        });
    
</script>
