
<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                        <div class="col-md-6">
                                <div class="card card-h2">
                                    <div class="card-header">
                                        <h5 class="card-title">단지정보 보기</h5>
                                    </div> 
                                    <div class="card-body">                                       
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>단지 이름</label>
                                                        <p name="name" class="form-control"></p>
                                                    </div>
                                                </div>                                                        
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">                                                           
                                                    <div class="row form-group">
                                                        <div class="col-md-6">
                                                            <label>단지 지역정보</label>
                                                            <p name="country_code" class="form-control"></p>  
                                                        </div> 
                                                        <div class="col-md-6 pr-1">
                                                            <label class="txt_hidden">도시</label>
                                                            <p name ="city" class="form-control"></p>                                                                     
                                                        </div> 
                                                        <div class="col-md-12 pl-1 pr-1">                                                                        
                                                            <p class="form-control"  name="timeZone"></p>                                                                                                                                                                                            
                                                        </div>
                                                        <div class="col-md-12 pl-1">                                                                        
                                                            <p class="form-control" value="" name="address"></p>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="preset_type">단지 타입</label>
                                                        <p class="form-control"  name="preset_type"></p>                                                               
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="day_type_offset">일 단위 타입</label>
                                                            <p class="form-control"  name="day_type_offset"></p>                                                               
                                                        </div>
                                                    </div>
                                            </div>                                            
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">공용도어 정보</h5>                                      
                                    </div> 
                                    <div class="card-body">
                                            <div class="table-full-width">

                                                <!-- 공용도어 없을때 -->
                                                <table class="table" id="noDoorList" style="display: none;"> 
                                                    <tr>
                                                        <td>
                                                            <div class="con_default">
                                                                <i class="icon m_issuekey"  role="presentation"></i>
                                                                <h4 class="text-center text-info">
                                                                    ‘등록된 공용 도어가 없습니다 ’<br>
                                                                    <span>도어락 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                                </h4>
                                                            </div>                                                                 
                                                        </td>
                                                    </tr>
                                                </table>

                                                <!-- 공용도어 있을때 -->
                                                <table class="table" id="doorList">
                                                    <colgroup>
                                                        <col width="10%">
                                                        <col width="*">
                                                        <col width="25%">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>                                                            
                                                            <th class="text-right">total: <strong class="text-primary" id="doorCnt"></strong></th>
                                                        </tr>
                                                    </thead>                                                         
                                                   <tbody></tbody>
                                                </table>
                                                </div>
                                    </div>
                                    <div class="card-footer" style="height:70px;"></div>
                                </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12 text-center">
                            <button type="reset" class="btn btn-default btn-fill shadow pull-left" onclick="location='javascript:history.back()'">뒤로가기</button>                           
                            <button type="button" onclick="location='/property_edit/<%= id%>'" class="btn btn-fill btn-primary pull-right shadow">단지 수정하기</button>
                        </div>
                
                </div>
            </div>
        </div>
<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>


<script type='text/javascript'>    
    //프라퍼티 상세보기
        $(function(){   
            var API_KEY = localStorage.getItem('api_key'); 
            var url = 'properties/';                  
            var id = "<%= id %>";           
                $.ajax({                   
                    //property 상세보기 api
                    url : endUrl(url)+ id ,
                    method:'GET',
                    contentType: "application/json; charset=utf-8",                   
                    headers : headers()
                })
                .done(function(res) { 
                    console.log('상세보기',res);

                    //상단네비 타이틀
                    navTitle(res.name,res.address);   

                    $('[name="name"]').text(res.name);
                    $('[name="country_code"]').text(res.country_code);
                    $('[name="city"]').text(res.city);
                    $('[name="timeZone"]').text(res.timezone);
                    $('[name="address"]').text(res.address);
                    $('[name="preset_type"]').text(res.preset.name);
                    $('[name="day_type_offset"]').text(res.day_type_offset);

                    // 공용도어
                    for(var i in res.commonrooms){
                        var id = res.commonrooms[i].id;
                        var name = res.commonrooms[i].name;  
                        var rowItem = '<tr><td>' + name + '</td></tr>';
                        $('#doorList tbody').append(rowItem);
                    }
                     // 테이블에 tr행 개수 
                    var doorCnt = $('#doorList tbody tr').length;
                    if(doorCnt > 0){
                        $('#doorCnt').text(doorCnt);
                    }else if(doorCnt == 0){
                        $('#noDoorList').show(); 
                        $('#doorList').hide(); 
                    }
                })
                .fail(function (request, status, error){  
                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                    console.log(msg); 
                    alert("단지정보를 불러올 수 없습니다.");                          
                })   
        });
</script>
