<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                            <div class="input-group">
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><i class="nc-icon nc-zoom-split"></i></button>                                          
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search for keyword">
                            </div><!-- /input-group -->

                            <h4>
                                <div class="row">
                                    <div class="col-md-3">                                       
                                        <select class="form-control">
                                            <option>리포트 종류 선택</option>
                                            <option>스태프 리포트 조회</option>
                                            <option>시설 정보 리포트 조회</option>
                                        <select>                                             
                                    </div> 
                                    <div class="col-md-3">                                       
                                        <select class="form-control" name="buildingNames"><select>                                                 
                                    </div>  
                                    <div class="col-md-6">            
                                        <button type="submit" class="btn btn-primary pull-right">Excel 저장</button>                                                                                                   
                                    </div>
                                </div>  

                            </h4>
                            <div class="card">                                   
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover">
                                            <colgroup>
                                                <col width="20%">
                                                <col width="*">
                                                <col width="25%">
                                                <col width="15%">
                                            </colgroup>
                                            <thead>                                               
                                                <th>생성일</th>
                                                <th>스텝이름</th>   
                                                <th>등급</th>                                             
                                                <th>정렬:생성일 기준</th>
                                            </thead>
                                            <tbody>
                                                <tr>                                                  
                                                    <td>DD-MMM-YYYY  HH:MM</td>
                                                    <td><a data-target="#viewStaff" data-toggle="modal" role="button">Staff name 1A</a></td>  
                                                    <td>마스터 [ 보유키 : 2개 ]</td>                                                  
                                                    <td></td>
                                                </tr>                                              
                                            </tbody>
                                        </table>        
                                    </div>
                            </div>

                            <button class="btn btn-default btn-fill shadow pull-left">나가기</button>                          
                            
                    </div>
                </div>
            </div>
        </div>

<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

<script>
    //navTitle 쿼리  
    var name;
    var address;
    var itemQuery;       
    qs();        
    $('.nav .query_building').attr('href','/properties/<%= id %>/building'+itemQuery );
    $('.nav .query_doorlock').attr('href','/properties/<%= id %>/doorlock'+itemQuery);
    $('.nav .query_issuekey').attr('href','/properties/<%= id %>/issuekey'+itemQuery);
    $('.nav .query_staff').attr('href','/properties/<%= id %>/staff'+itemQuery);
    $('.nav .query_report').attr('href','/properties/<%= id %>/report'+itemQuery);
    navTitle(name, address);  
        
        
    //빌딩선택 api
    var API_KEY = localStorage.getItem('api_key');   
    var id = "<%= id%>";
    var url = "properties/" + id + "/buildings";
    $.ajax({
        method: "get",
        url : endUrl(url),
        contentType: "application/json; charset=utf-8",
        headers : headers()
    })                                                                               
    .done(function(res) {            
        console.log(res); 
        $('[name=buildingNames]').empty();
        $('[name=buildingNames]').append('<option  value="0" value="0" selected="true">빌딩 선택</option>');
        for(var i=0; i<res.items.length;i++){
            $('[name=buildingNames]').append($('<option></option>').attr('value', res.items[i].id).text(res.items[i].name)); 
        }                    
    })
    .fail(function (request, status, error){  
        msg = request.status + "<br>" + request.responseText + "<br>" + error;
        console.log(msg); 
        alert("건물 목록을 불러 올 수 없습니다.");                          
    })  

    //스텝 리포트 조회
    var url2="properties/"+ id+"/reports/staffs"
    $.ajax({
        method: "get",
        url : endUrl(url2),
        contentType: "application/json; charset=utf-8",
        headers : headers()
    })  
    .done(function(res) {            
        console.log(res); 
    })
    .fail(function (request, status, error){  
        msg = request.status + "<br>" + request.responseText + "<br>" + error;
        console.log(msg); 
        alert("리포트를 불러 올 수 없습니다.");                          
    })  

    //스텝 리포트 조회
    var url3="properties/"+id+"/reports/facilities"
    $.ajax({
        method: "get",
        url : endUrl(url3),
        contentType: "application/json; charset=utf-8",
        headers : headers()
    })  
    .done(function(res) {            
        console.log(res); 
    })
    .fail(function (request, status, error){  
        msg = request.status + "<br>" + request.responseText + "<br>" + error;
        console.log(msg); 
        alert("리포트를 불러 올 수 없습니다.");                          
    })  


</script>    

