<%- include('inc/head') %>
    <%- include('inc/sidebar') %>
        <%- include('inc/nav') %>

            <div class="content">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><i class="nc-icon nc-zoom-split"></i></button>                                          
                                    </span>
                                <input type="text" class="form-control" placeholder="Search for keyword">
                            </div>
                            <!-- /input-group -->

                            <h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        <select class="form-control" name="reports">
                                            <option value="0">리포트 종류 선택</option>
                                            <option value="staff">스태프 리포트 조회</option>
                                            <option value="facilities">시설 정보 리포트 조회</option>
                                        <select>                                             
                                    </div> 
                                    <div class="col-md-3">                                       
                                        <select class="form-control" name="buildingNames">
                                                <option>선택</option>
                                        <select>                                                 
                                    </div>  
                                    <div class="col-md-6">            
                                        <button type="submit" class="btn btn-primary pull-right">Excel 저장</button>                                                                                                   
                                    </div>
                                </div>  

                            </h4>
                            <div class="card">                                   
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover" id="defaultReportList" >
                                                <tr>
                                                        <td colspan="3" style="border: none;">
                                                            <div class="con_default">
                                                                <i class="icon m_report"></i>
                                                                <h4 class="text-center text-info">
                                                                    ‘ 리포트 종류를 선택해 주세요 ’
                                                                </h4>
                                                            </div>
                                                        </td>                                                                      
                                                    </tr>
                                        </table> 

                                        <!-- <table class="table table-hover" id="noReportList" style="display: none;">
                                                <tr>
                                                        <td colspan="3" style="border: none;">
                                                            <div class="con_default">
                                                                <i class="icon m_staff"></i>
                                                                <h4 class="text-center text-info">
                                                                    ‘ 해당 리포트 정보가 없습니다 ’
                                                                </h4>
                                                            </div>
                                                        </td>                                                                      
                                                    </tr>
                                        </table>  -->

                                        <table class="table table-hover" id="reportList" style="display: none;">
                                            <colgroup>
                                                <col width="20%">
                                                <col width="*">
                                                <col width="25%">
                                                <col width="15%">
                                            </colgroup>
                                            <thead>                                               
                                                <th>생성일</th>
                                                <th>스텝이름</th>   
                                                <th>등급</th>                                             
                                                <th>정렬:생성일 기준</th>
                                            </thead>
                                            <tbody></tbody>
                                        </table>        
                                    </div>
                            </div>

                            <button class="btn btn-default btn-fill shadow pull-left">나가기</button>                          
                            
                    </div>
                </div>
            </div>
        </div>

<% include inc/footer %>
<% include inc/modal %>
<% include inc/bottom %>

<script>
    //navTitle 쿼리  
    var name;
    var address;
    var itemQuery;       
    qs();        
    $('.nav .query_building').attr('href','/properties/<%= id %>/building'+itemQuery );
    $('.nav .query_doorlock').attr('href','/properties/<%= id %>/doorlock'+itemQuery);
    $('.nav .query_issuekey').attr('href','/properties/<%= id %>/issuekey'+itemQuery);
    $('.nav .query_staff').attr('href','/properties/<%= id %>/staff'+itemQuery);
    $('.nav .query_report').attr('href','/properties/<%= id %>/report'+itemQuery);
    navTitle(name, address);  
        
        
    var API_KEY = localStorage.getItem('api_key');   
    var id = "<%= id%>";
    var url = "properties/" + id + "/buildings";
    

    // api선택
    $('[name="reports"]').on('change', function(){
        if(this.value !== ""){
            var optVal = $(this).find(":selected").val();
            console.log(optVal);
            $('#defaultReportList').hide();
            $('#reportList').show();

            if(optVal == 'staff'){
                //스텝 리포트 조회
                var url2="properties/"+ id+"/reports/staffs"
                $.ajax({
                    method: "get",
                    url : endUrl(url2),
                    contentType: "application/json; charset=utf-8",
                    headers : headers()
                })  
                .done(function(res) {            
                    console.log(res); 
                    $('[name=buildingNames]').empty();
                    $('[name=buildingNames]').append('<option  value="0" selected="true">스탭 종류 선택</option>');
                    $('[name=buildingNames]').append('<option  value="supervisor">Supervisor</option>');
                    $('[name=buildingNames]').append('<option  value="manager">Manager</option>');
                    $('[name=buildingNames]').append('<option  value="master" ">Master</option>');
                    $('[name=buildingNames]').append('<option  value="housekeeping" >Housekeeping</option>');                    

                    $('[name="buildingNames"]').on('change', function(){
                        
                        if(this.value !== ""){
                            var optVal = $(this).find(":selected").val();
                            console.log(optVal);
                            switch(optVal){    
                                case "supervisor" : 
                                $('#reportList tbody tr').remove();
                                for(var i=0; i<res.items.length;i++){
                                    if(res.items[i].grantee_role == "supervisor"){
                                        var trHtml ='';
                                        trHtml += '<tr><td>'+res.items[i].created_at+'</td>';
                                        trHtml += '<td>'+ res.items[i].grantee_name+'</td>';
                                        trHtml += '<td>'+ res.items[i].grantee_phone_number+'</td><td></td></tr>';
                                        $('#reportList tbody').append(trHtml);
                                    }else{
                                      
                                        return false;
                                    }
                                }
                               
                                case "manager" : 
                                $('#reportList tbody tr').remove();
                                for(var i=0; i<res.items.length;i++){
                                    if(res.items[i].grantee_role == "manager"){
                                        var trHtml ='';
                                        trHtml += '<tr><td>'+res.items[i].created_at+'</td>';
                                        trHtml += '<td>'+ res.items[i].grantee_name+'</td>';
                                        trHtml += '<td>'+ res.items[i].grantee_phone_number+'</td><td></td></tr>';
                                        $('#reportList tbody').append(trHtml);$('#reportList tbody').append(trHtml);
                                    }else{                                                                   
                                        return false;
                                    }
                                }

                                case "master" : 
                                $('#reportList tbody tr').remove();
                                for(var i=0; i<res.items.length;i++){
                                    if(res.items[i].grantee_role == "master"){
                                        var trHtml ='';
                                        trHtml += '<tr><td>'+res.items[i].created_at+'</td>';
                                        trHtml += '<td>'+ res.items[i].grantee_name+'</td>';
                                        trHtml += '<td>'+ res.items[i].grantee_phone_number+'</td><td></td></tr>';
                                        $('#reportList tbody').append(trHtml);$('#reportList tbody').append(trHtml);                                      
                                    }else{                                     
                                        return false;
                                    }
                                }
                                
                                case "housekeeping" : 
                                $('#reportList tbody tr').remove();
                                for(var i=0; i<res.items.length;i++){
                                    if(res.items[i].grantee_role == "housekeeping"){
                                        var trHtml ='';
                                        trHtml += '<tr><td>'+res.items[i].created_at+'</td>';
                                        trHtml += '<td>'+ res.items[i].grantee_name+'</td>';
                                        trHtml += '<td>'+ res.items[i].grantee_phone_number+'</td><td></td></tr>';
                                        $('#reportList tbody').append(trHtml);
                                    }else{                                       
                                        return false;
                                    }
                                }
                            }
                        }

                    })
                

                })
                .fail(function (request, status, error){  
                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                    console.log(msg); 
                    alert("리포트를 불러 올 수 없습니다.");                          
                }) 

            }else if(optVal == 'facilities'){
                //시설정보 리포트 조회
                var url3="properties/" + id + "/reports/facilities"
                $.ajax({
                    method: "get",
                    url : endUrl(url3),
                    contentType: "application/json; charset=utf-8",
                    headers : headers()
                })  
                .done(function(res) {            
                    console.log(res); 
                    $('[name=buildingNames]').empty();
                    $('[name=buildingNames]').append('<option  value="0" selected="true">빌딩 선택</option>');
                    $('[name=buildingNames]').append('<option  value="commonroom" >CommonRoom</option>');
                    $('[name=buildingNames]').append('<option  value="property" >Property</option>');
                    $('[name=buildingNames]').append('<option  value="building">Building</option>');
                    $('[name=buildingNames]').append('<option  value="room">Room</option>');  

                    $('[name="buildingNames"]').on('change', function(){
                        if(this.value !== ""){
                            var optVal = $(this).find(":selected").val();
                            console.log(optVal);
                            switch(optVal){    
                                case "commonroom" : 
                                    $('#reportList tbody tr').remove();
                                    for(var i=0; i<res.items.length;i++){
                                        if(res.items[i].report_subtype == "commonroom"){
                                            var trHtml ='';
                                            trHtml += '<tr><td>'+res.items[i].created_at+'</td>';
                                            trHtml += '<td>'+ res.items[i].actor_name+'</td>';
                                            trHtml += '<td>'+ res.items[i].facility_name+'</td><td></td></tr>';
                                            $('#reportList tbody').append(trHtml);
                                        }
                                    }
                                    break;

                                case "property" : 
                                    $('#reportList tbody tr').remove();
                                    for(var i=0; i<res.items.length;i++){
                                        if(res.items[i].report_subtype == "property"){
                                            var trHtml ='';
                                            trHtml += '<tr><td>'+res.items[i].created_at+'</td>';
                                            trHtml += '<td>'+ res.items[i].actor_name+'</td>';
                                            trHtml += '<td>'+ res.items[i].facility_name+'</td><td></td></tr>';
                                            $('#reportList tbody').append(trHtml);
                                        }
                                    }
                                    break;

                                case "building" : 
                                    $('#reportList tbody tr').remove();
                                    for(var i=0; i<res.items.length;i++){
                                        if(res.items[i].report_subtype == "building"){
                                            var trHtml ='';
                                            trHtml += '<tr><td>'+res.items[i].created_at+'</td>';
                                            trHtml += '<td>'+ res.items[i].actor_name+'</td>';
                                            trHtml += '<td>'+ res.items[i].facility_name+'</td><td></td></tr>';
                                            $('#reportList tbody').append(trHtml);
                                        }
                                    }
                                    break;
                                    
                                case "room" : 
                                    $('#reportList tbody tr').remove();
                                    for(var i=0; i<res.items.length;i++){
                                        if(res.items[i].report_subtype == "room"){
                                            var trHtml ='';
                                            trHtml += '<tr><td>'+res.items[i].created_at+'</td>';
                                            trHtml += '<td>'+ res.items[i].actor_name+'</td>';
                                            trHtml += '<td>'+ res.items[i].facility_name+'</td><td></td></tr>';
                                            $('#reportList tbody').append(trHtml);
                                        }
                                    }
                                    break;
                            }
                        }

                    })                 

                })
                .fail(function (request, status, error){  
                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                    console.log(msg); 
                    alert("리포트를 불러 올 수 없습니다.");                          
                })  
            }

        }
    
    });

</script>