<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                            <div class="input-group">
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><i class="nc-icon nc-zoom-split"></i></button>                                          
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search for keyword">
                            </div><!-- /input-group -->



                            <h4>
                                <div class="row">
                                    <div class="col-md-3">                                       
                                        <select class="form-control">
                                            <option>빌딩이름</option>
                                            <option>빌라</option>
                                            <option>카라반</option>
                                        <select>                                             
                                    </div>              
                                    <button type="submit" class="btn btn-primary">빌딩 선택하기</button>                                                                                                   
                                </div>  

                            </h4>
                            <div class="card">                                   
                                    <div class="content table-responsive table-full-width">
                                        <table class="table" id="noRoomList" style="display: none;"> 
                                            <tr>
                                                <td colspan="3" style="border: none;">
                                                    <div class="con_default">
                                                        <i class="icon room"></i>
                                                        <h4 class="text-center text-info">
                                                            ‘ 아직 생성된 객실 정보가 없습니다 ’<br>
                                                            <span>객실 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                        </h4>
                                                    </div>
                                                </td>                                                                      
                                            </tr>
                                        </table>
                                        <table class="table table-hover" id="roomList" style="display: none;">
                                            <colgroup>
                                                <col width="20%">
                                                <col width="*">
                                                <col width="15%">
                                            </colgroup>
                                            <thead>                                               
                                                <th>생성일</th>
                                                <th>객실이름</th>                                                
                                                <th>정렬:생성일 기준</th>
                                            </thead>
                                            <tbody></tbody>
                                        </table>        
                                    </div>
                            </div>

                            <button class="btn btn-default btn-fill shadow pull-left">취소</button>
                            <button onclick="location='/properties/<%= id %>/room_new/<%= bid %>'" class="btn btn-primary btn-fill shadow pull-right">신규 객실 생성</button>                           
                            
                    </div>
                </div>
            </div>
        </div>

<%- include inc/footer %>
<%- include inc/modal %>
<%- include inc/bottom %>
<script>
    var API_KEY = localStorage.getItem('api_key');   
    var id = "<%= id %>";
    var bid ="<%= bid %>"
    var url = "properties/" + id + "/rooms";
     //객실리스트
     $.ajax({
            url : endUrl(url),
            contentType: "application/json; charset=utf-8",
            method : "get",
            headers : headers(),
            data:{               
                building_id : bid
            }
        })
        .done(function(res){
            console.log(res);            
            $('#cntRoom').text(res.total);
            if(res.total > 0){
            $('#noRoomList').hide(); 
            $('#roomList').show(); 
            var trHtml ="";
            res.items.forEach(function(item, i, array){  
                var date =new Date(item.created_at);  
                trHtml += "<tr><td>" + formatDate(date) + "</td><td><a href='/properties/" + id + "/room/" + item.id + "'>" + item.name+ "</a></td>";               
                trHtml += "<td><button onclick='location.href='/room_edit'' type='button'  title='수정하기' class='btn btn-simple btn-link'><i class='icon edit'></i></button>";
                trHtml += "<button type='button' title='삭제하기' class='btn btn-simple btn-link'  data-room_id='" + item.id + "'id='btnDelRoom'><i class='icon trash'></i></button></td>";
                trHtml += "</tr>";                                             
                                                  
            });       
            $('#roomList tbody').append(trHtml);
            
            }else if(res.total == 0){
                $('#noRoomList').show(); 
                $('#roomList').hide(); 
            }
        })
        .fail(function(){
            msg = request.status + "<br>" + request.responseText + "<br>" + error;
            console.log(msg); 
            alert("객실목록을 불러 올 수 없습니다.");  
        })

          //객실삭제하기        
          $('#roomList').on('click','#btnDelRoom', function(){
            var room_id = $(this).data('room_id');
            console.log(room_id);
            $.ajax({
                url: endUrl(url) + "/" +room_id,
                method:'delete',
                contentType: "application/json; charset=utf-8",                
                headers : headers()
            })
            .done(function(res) {                
                console.log(res);                 
                if(res.code == 200){
                    $('#Delproperty').modal('show');                    
                }else{
                    alert("삭제 실패");
                }            
            })
            .fail(function (request, status, error){  
                msg = request.status + "<br>" + request.responseText + "<br>" + error;
                console.log(msg);  
            })  
            .always(function(){ 
                setTimeout(function(){
                location.reload();
                },1500);
            }) 
        });


        //리스트에 보이는 날짜포맷 변경
     function formatDate(date) {
        var month = date.toLocaleString('en', {month :'short'});
        var day = date.getDate();
        var year = date.getFullYear();
        var hh = date.getHours();
        var mm = date.getMinutes();
        return day + "-" + month + "-" + year + "  " + hh + ":" + mm
}

</script>

