<%- include('inc/head') %>
    <%- include('inc/sidebar') %>
        <%- include('inc/nav') %>

            <div class="content">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><i class="nc-icon nc-zoom-split"></i></button>                                          
                                    </span>
                                <input type="text" class="form-control" placeholder="Search for keyword">
                            </div>
                            <!-- /input-group -->



                            <h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        <select class="form-control" name="buildingNames"><select>                                             
                                    </div>              
                                    <button type="submit" class="btn btn-primary">빌딩 선택하기</button>                                                                                                   
                                </div>  

                            </h4>
                            <div class="card">                                   
                                    <div class="content table-responsive table-full-width">
                                        <table class="table" id="noRoomList" style="display: none;"> 
                                            <tr>
                                                <td colspan="3" style="border: none;">
                                                    <div class="con_default">
                                                        <i class="icon room"></i>
                                                        <h4 class="text-center text-info">
                                                            ‘ 아직 생성된 객실 정보가 없습니다 ’<br>
                                                            <span>객실 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                        </h4>
                                                    </div>
                                                </td>                                                                      
                                            </tr>
                                        </table>
                                        <table class="table table-hover" id="roomList" style="display: none;">
                                            <colgroup>
                                                <col width="20%">
                                                <col width="*">
                                                <col width="15%">
                                                <col width="15%">
                                                <col width="15%">
                                            </colgroup>
                                            <thead>                                               
                                                <th >생성일</th>
                                                <th>객실이름</th> 
                                                <th>사용상태</th> 
                                                <th>동작모드</th> 
                                                <th>정렬:생성일 기준</th>
                                            </thead>
                                            <tbody></tbody>
                                        </table>        
                                    </div>
                            </div>

                            <button class="btn btn-default btn-fill shadow pull-left" onclick="location='javascript:history.back()'">나가기</button>
                            <a href='/properties/<%= id %>/room_new/<%= bid %>' class="btn btn-primary btn-fill shadow pull-right query">신규 객실 생성</a>                           
                            
                    </div>
                </div>
            </div>
        </div>

<%- include inc/footer %>
<%- include inc/modal %>

<!-- 공용도어 수정Modal -->
<div class="modal fade modal-primary" id="EditName" tabindex="-1" role="dialog" aria-labelledby="EditName" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <h5>알림</h5>
            </div>
            <div class="modal-body setting_choice">
                    <i class="icon confirm"></i>                       
                <h6>객실 이름 변경</h6>
                <p>이름을 입력해 주세요  <input type= "text" value="" name="editRoomName">  </p>
            </div>
            <div class="modal-footer">     
                <button type="button" class="btn btn-default btn-fill btn-wd shadow" data-dismiss="modal">취소</button>              
                <button type="button" class="btn btn-default btn-fill btn-wd shadow"   name="btnEditNameDone">이름변경</button>
            </div>
        </div>
    </div>
<div>


<%- include inc/bottom %>
<script>
     //navTitle 쿼리 
    var name;
    var address;
    var itemQuery;       
    qs();
    $('.nav .query_building').attr('href','/properties/<%= id %>/building'+itemQuery );
    $('.nav .query_doorlock').attr('href','/properties/<%= id %>/doorlock'+itemQuery);
    $('.nav .query_issuekey').attr('href','/properties/<%= id %>/issuekey'+itemQuery);
    $('.nav .query_staff').attr('href','/properties/<%= id %>/staff'+itemQuery);
    $('.nav .query_report').attr('href','/properties/<%= id %>/report'+itemQuery);
    $('.query').prop('href','/properties/<%= id %>/room_new/<%= bid %>'+itemQuery );
    navTitle(name, address);




    var API_KEY = localStorage.getItem('api_key');   
    var id = "<%= id %>";
    var bid ="<%= bid %>"
    var url = "properties/" + id + "/rooms";
     //객실리스트
     $.ajax({
            url : endUrl(url),
            contentType: "application/json; charset=utf-8",
            method : "get",
            headers : headers(),
            data:{               
                building_id : bid
            }
        })
        .done(function(res){
            console.log(res);            
            $('#cntRoom').text(res.total);
            if(res.total > 0){
                $('#noRoomList').hide(); 
                $('#roomList').show(); 
                var trHtml ="";
                res.items.forEach(function(item, i, array){  
                    var date =new Date(item.created_at);  
                    trHtml += "<tr><td>" + formatDate(date) + "</td><td>" + item.name+ "</td>";  
                
                        if(item.doorlock.status == "created"){//미설치시
                            trHtml +='<td><i class="icon created"></i><small class="text-created">도어락 미설치</small></td>';
                        }else if(item.doorlock.status == "installed"){//설치시 사용중
                            trHtml +='<td><i class="icon installed"></i><small class="text-primary" >사용중</small</td>';
                        }else if(item.is_cleaning){//청소중
                            trHtml +='<td><i class="icon cleaning"></i><small class="text-default" >청소중</small</td>';
                        }
                    
                    trHtml += "<td ><i class='icon mode_shield'></i><small  class='text-primary'>보안모드</small></td>";               
                    // trHtml += "<td ><i class='icon mode_touch'></i><small  class='text-primary'>간편모드</small></td>"; 
                    trHtml += "<td><button title='객실이름변경하기' data-toggle='modal' data-target='#EditName' class='btn btn-simple btn-link' ><i class='icon edit' ></i></button>";
                    trHtml += "<button type='button' title='삭제하기' class='btn btn-simple btn-link'  data-room_id='" + item.id + "'id='btnDelRoom'><i class='icon trash'></i></button></td>";
                    trHtml += "</tr>";                                             
                                                    
                });       
                $('#roomList tbody').append(trHtml);
            
            }else if(res.total == 0){
                $('#noRoomList').show(); 
                $('#roomList').hide(); 
            }
        })
        .fail(function(){
            msg = request.status + "<br>" + request.responseText + "<br>" + error;
            console.log(msg); 
            alert("객실목록을 불러 올 수 없습니다.");  
        })

          //객실삭제하기        
          $('#roomList').on('click','#btnDelRoom', function(){
            var room_id = $(this).data('room_id');
            console.log(room_id);
            $.ajax({
                url: endUrl(url) + "/" +room_id,
                method:'delete',
                contentType: "application/json; charset=utf-8",                
                headers : headers()
            })
            .done(function(res) {                
                console.log(res);                 
                if(res.code == 200){
                    $('#delRoom').modal('show');                    
                }else{
                    alert("삭제 실패");
                }            
            })
            .fail(function (request, status, error){  
                msg = request.status + "<br>" + request.responseText + "<br>" + error;
                console.log(msg);  
            })  
            .always(function(){ 
                setTimeout(function(){
                    location.reload();
                },1500);
            }) 
        });

    //빌딩리스트
    var url2 = "properties/" + id + "/buildings";
    $.ajax({
        method: "get",
        url : endUrl(url2),
        contentType: "application/json; charset=utf-8",
        headers : headers()
    })                                                                               
    .done(function(res) {            
        console.log(res);
        $('[name=buildingNames]').empty();
        $('[name=buildingNames]').append('<option  value="0" value="0" selected="true">빌딩 선택</option>');
        for(var i=0; i<res.items.length;i++){
            $('[name=buildingNames]').append($('<option></option>').attr('value', res.items[i].id).text(res.items[i].name)); 
        }
    })
    .fail(function (request, status, error){  
        msg = request.status + "<br>" + request.responseText + "<br>" + error;
        console.log(msg); 
        alert("빌딩 목록을 불러 올 수 없습니다.");                          
    })  

    //리스트에 보이는 날짜포맷 변경
     function formatDate(date) {
        var month = date.toLocaleString('en', {month :'short'});
        var day = date.getDate();
        var year = date.getFullYear();
        var hh = date.getHours();
        var mm = date.getMinutes();
        return day + "-" + month + "-" + year + "  " + hh + ":" + mm
}



</script>