<%- include('inc/head') %> 
<%- include('inc/sidebar') %>
<%- include('inc/nav') %>

        <div class="content">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                            <div class="input-group">
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><i class="nc-icon nc-zoom-split"></i></button>                                          
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search for keyword">
                            </div><!-- /input-group -->



                            <h4>
                                <div class="row">
                                    <div class="col-md-3">                                       
                                        <select class="form-control">
                                            <option>빌딩이름</option>
                                            <option>빌라</option>
                                            <option>카라반</option>
                                        <select>                                             
                                    </div>              
                                    <button type="submit" class="btn btn-primary">빌딩 선택하기</button>                                                                                                   
                                </div>  

                            </h4>
                            <div class="card">                                   
                                    <div class="content table-responsive table-full-width">
                                        <table class="table" id="noBuildingList" style="display: none;"> 
                                            <tr>
                                                <td colspan="3">
                                                    <div class="con_default">
                                                        <i class="icon room"></i>
                                                        <h4 class="text-center text-info">
                                                            ‘ 아직 생성된 객실 정보가 없습니다 ’<br>
                                                            <span>객실 정보를 등록하여 서비스를 시작해 보세요. </span>
                                                        </h4>
                                                    </div>
                                                </td>                                                                      
                                            </tr>
                                        </table>
                                        <table class="table table-hover">
                                            <colgroup>
                                                <col width="20%">
                                                <col width="*">
                                                <col width="15%">
                                            </colgroup>
                                            <thead>                                               
                                                <th>생성일</th>
                                                <th>객실이름</th>                                                
                                                <th>정렬:생성일 기준</th>
                                            </thead>
                                            <tbody>
                                                <tr>                                                  
                                                    <td>DD-MMM-YYYY  HH:MM</td>
                                                    <td><a href="/room_default">Residence A</a></td>                                                    
                                                    <td>
                                                        <button onclick="location.href='/building_edit' " type="button"  title="수정하기" class="btn btn-simple btn-link">
                                                            <i class="icon edit"></i>
                                                        </button>
                                                        <button type="button" title="삭제하기" class="btn btn-simple btn-link">
                                                            <i class="icon trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>                                                  
                                                    <td>DD-MMM-YYYY  HH:MM</td>
                                                    <td><a href="">Residence B</a></td>                                                  
                                                    <td>
                                                        <button onclick="location.href='/building_edit' " type="button"  title="수정하기" class="btn btn-simple btn-link">
                                                            <i class="icon edit"></i>
                                                        </button>
                                                        <button type="button" title="삭제하기" class="btn btn-simple btn-link">
                                                            <i class="icon trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>        
                                    </div>
                            </div>

                            <button class="btn btn-default btn-fill shadow pull-left">취소</button>
                            <button onclick="location='/properties/<%=id%>/room_new'" class="btn btn-primary btn-fill shadow pull-right">신규 객실 생성</button>
                    </div>
                </div>
            </div>
        </div>

<%- include inc/footer %>
<%- include inc/modal %>
<%- include inc/bottom %>

