<%- include('inc/head') %>
    <%- include('inc/sidebar') %>
        <%- include('inc/nav') %>

            <div class="content">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button"><i class="nc-icon nc-zoom-split"></i></button>                                          
                                </span>
                                <input type="text" class="form-control" placeholder="Search for keyword">
                            </div>
                            <!-- /input-group -->


                            <div class="row">
                                <h4 class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <select class="form-control">
                                        <option>빌딩이름</option>
                                    <select>                                             
                                </div>              
                                <button type="submit" class="btn btn-primary">빌딩 선택하기</button>                                                                                                   
                            </div>  
                        </h4>

                        <div class="col-md-8">
                                <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title"></h5>                                      
                                        </div> 
                                        <div class="card-body">
                                                <div class="table-full-width">                                               
                                                       <table class="table">                                                               
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="2">
                                                                        <div class="form-check">
                                                                            <label class="form-check-label">
                                                                                <input class="form-check-input" type="checkbox" value="" id="checkAll" >
                                                                                <span class="form-check-sign"></span>                                                                            
                                                                            </label>
                                                                            <span class="check_cnt"><i></i> selected</span>                                                                             
                                                                            <button role="button" data-toggle="modal" class="btn btn-simple btn-link" name="btnDelRoom" id="btnDelRoom">
                                                                                    <i class="icon trash"></i>
                                                                            </button>
                                                                        </div>                                                                           
                                                                    </th>                                                               
                                                                    <th class="text-right">total: <strong class="text-primary" id="cntRoom"></strong></th>
                                                                </tr>
                                                            </thead> 
                                                            
                                                          <tbody>
                                                                <tr>
                                                                    <td colspan="3">
                                                                        <ul class="room_name_item"></ul>
                                                                    </td>                                                                       
                                                                </tr> 
                                                                                                                                       
                                                            </tbody>
                                                        </table>
                                                    </div>
                                        </div>                                          
                                    </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">객실 정보 입력</h5>
                                        </div> 
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">                                                                
                                                            <input type="text" class="form-control" placeholder="신규 객실 이름 입력" name="newRoom">                                                                
                                                        </div>
                                                        <button type="button" class="col-md-12 btn btn-primary" id="btnAddRoom">객실 추가하기</button>      
                                                    </div>                                   
                                                </div>                                                                                       
                                            </form>
                                        </div>
                                    </div>
                        </div>
</div>

                      
                            <button class="btn btn-default btn-fill shadow" onclick="location='javascript:history.back()'">나가기</button>
                       
                </div>
            </div>
        </div>
    </div>

<%- include inc/footer %>
<%- include inc/modal %>
<%- include inc/bottom %>

<script>
    //navTitle 쿼리 
    var name;
    var address;
    var itemQuery;   
    (function qs() {
        var qsparam = new Array(2);
        var query = window.location.search.substring(1).split('&');  
        console.log(query);     
        for (var i = 0; i < query.length; i++) {
            var pos = query[i].indexOf('=');
            if (pos > 0){
                    var key = decodeURIComponent(query[i].substring(0, pos));
                    var val = decodeURIComponent(query[i].substring(pos + 1));
                    qsparam[i] = val;    
            }                          
        }
        name = qsparam[0];
        address = qsparam[1];
        itemQuery ='?name=' + name + '&address=' + address;        
    })();
    navTitle(name, address);

    var API_KEY = localStorage.getItem('api_key');   
    var id = "<%= id %>";
    var bid ="<%= bid %>"
    var url = "properties/" + id + "/rooms";

    // 객실추가하기
    $('#btnAddRoom').on('click', function(){
        var name =$('input[name="newRoom"').val();
        $.ajax({
            url : endUrl(url),
            contentType: "application/json; charset=utf-8",
            method : "post",
            headers : headers(),
            data:JSON.stringify({
                name : name,
                building_id : bid
            })
        })
        .done(function(res){
            console.log(res);
            $('#newRoomDone').modal('show');  
        })
        .fail(function(){
            msg = request.status + "<br>" + request.responseText + "<br>" + error;
            console.log(msg); 
            alert("객실을 불러 올 수 없습니다.");  
        })
        .always(function(){ 
            setTimeout(function(){
                location.reload();
            },1500);
         })
    })

    //객실리스트
    $.ajax({
            url : endUrl(url),
            contentType: "application/json; charset=utf-8",
            method : "get",
            headers : headers(),
            data:{               
                building_id : bid
            }        
        })
        .done(function(res){
            console.log(res);            
            $('#cntRoom').text(res.total);
            if(res.total > 0){
            $('#noRoomList').hide(); 
            $('#roomList').show(); 
            var liHtml ="";
            res.items.forEach(function(item, i, array){  
                liHtml += '<li><div class="form-check border"><label class="form-check-label">';
                liHtml += '<input class="form-check-input" type="checkbox"  name="checkRow" value="'+item.id+'"><span class="form-check-sign"></span></label>';
                liHtml += '<span class="room_name">'+ item.name+'</span>';
                liHtml += '<button type="button" rel="tooltip" title="editRoom"  data-toggle="modal" data-target="#EditRoom"  class="btn btn-info btn-simple btn-link"><i class="icon edit"></i></button>';
                liHtml += '</div></li>';  
            });       
            $('.room_name_item').append(liHtml);
            
            }else if(res.total == 0){
                $('#noRoomList').show(); 
                $('#roomList').hide(); 
            }
        })
        .fail(function(){
            msg = request.status + "<br>" + request.responseText + "<br>" + error;
            console.log(msg); 
            alert("객실목록을 불러 올 수 없습니다.");  
        })


        //객실 하나 선택하기  
        var check_row =$('ul.room_name_item > li input[name="checkRow"]'); 
        $(check_row).on('click',function(e) {
            for(var i=0; i < check_row.length; i++){
                var checkCnt = $('ul.room_name_item > li input[name="checkRow"]:checked').length;
                $('.check_cnt i').text("1");
            }  
        });

     
        //선택된(하나) 삭제 api   
        
        $('#btnDelRoom').click(function(){                        
            if(confirm("삭제하시겠습니까?")){
                var rid="";
                var check_row =$('ul.room_name_item > li input[name="checkRow"]');   
                for(var i=0; i<check_row.length; i++){
                    rid=$('ul.room_name_item > li input[name="checkRow"]:checked').val();                   
                }

                $.ajax({
                    url : endUrl(url) + "/" + rid,
                    contentType: "application/json; charset=utf-8",
                    method : "delete",
                    headers : headers()                                        
                })
                .done(function(res){
                    console.log(res);                   
                    $('#DelRoom').modal('show');                           
                    
                })
                .fail(function(){
                    msg = request.status + "<br>" + request.responseText + "<br>" + error;
                    console.log(msg); 
                    alert("객실을 삭제할 수 없습니다.");  
                }) 
                .always(function(){ 
                    setTimeout(function(){
                        location.reload();
                    },1500);
                })                
            }else{
                return false;
            }
        });
   
</script>