<div class="sidebar" data-color="blue" data-image="assets/img/sidebar-4.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text"><%= title %></a>
        </div>

        <div class="userState">
            <dl>
                <dt class="user_img"><img src="assets/img/faces/face-3.jpg" alt="프로필이미지"></dt>
                <dd class="user_info">
                    <h3>JinSung Hwangffff</h3>
                    <p><%= date%></p>
                </dd>
                <dd class="user_out">
                    <i class="icon" ><button type="submit" class="bnt btn-simple btn-link" style="outline: none;"></button></i>
                <dd>
            </dl>
            
            <dl style="display: none;">
                <dt class="user_img"><img src="assets/img/default-avatar.png" alt="기본프로필이미지"></dt>
                <dd class="user_info">
                    <h3 class="before_login"><a href="/login">로그인</a>하세요</h3>
                </dd>
            </dl>
        </div>
       
        <ul class="nav">
            <li class="<%= path === '/building_list' ? 'active' : '' %>">
                <a href="/building_list"><i class="pe-7s-network"></i><p>PROPERTY</p></a>
            </li>            
            <li  class="<%= path === '/doorlock_list' ? 'active' : '' %>">
                <a href="/doorlock_list"><i class="pe-7s-settings"></i><p>DOORLOCK</p></a>
            </li>
            <li  class="<%= path === '/issuekey' ? 'active' : '' %>">
                <a href="/issuekey"><i class="pe-7s-key"></i><p>ISSUEKEY</p></a>
            </li>
            <li  class="<%= path === '/staff_list' ? 'active' : '' %>">
                <a href="/staff_list"><i class="pe-7s-users"></i><p>STAFF</p></a>
            </li>
            <li  class="<%= path === '/report' ? 'active' : '' %>">
                <a href="/report"><i class="pe-7s-comment"></i><p>REPORT</p></a>
            </li>
        </ul>
        <hr class="sidebar_hr">
        <ul class="nav">
                <li class="">
                    <a href="/setting"><i class="pe-7s-config"></i><p>Settings</p></a>
                </li>
        </ul> 
                
        <a id="menu_toggle"><i class="nc-icon nc-tap-01"></i></a>
    </div>
</div>